{% extends "index_base.html" %} {% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'style/homepage.css' %}">
<!-- <link rel="stylesheet" href="{% static 'style/styles.css' %}"> -->

<style>
  #cabecalho {
    height: 768px;
    margin: 0;
    padding: 0;
    background-image:url("{% static 'images/fundobar.png'%}");
    background-size: auto;
  }
</style>

<div id="cabecalho">
  <!-- Cabeçalho da Home -->
  <header class="masthead">
    <div class="container">
      <div class="masthead-subheading">Seja Bem-vindo(a) à rede social para quem adora uma boa culinária!</div>
      <div class="masthead-heading text-uppercase">É um prazer ter a sua visita!</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#servicos">Saiba Mais</a>
    </div>
  </header>
</div>

<!-- Serviços - Parte com informações sobre tipos de estabelecimentos -->
<section class="page-section" id="servicos">
  <div class="container" id="servicos">
    <div class="text-center">
      <h2 class="section-subheading text-uppercase">Estabelecimentos</h2>
      <h3 class="section-subheading text-muted">Estes são os tipos de estabelecimentos que participam da nossa rede social</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Bares</h4>
        <p class="text-muted">São os lugares indicados para um bom happy hour, com bebidas e petiscos para todos os gostos.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Cafeterias</h4>
        <p class="text-muted">Desde o capuccino ao bom e velho café expresso, cafeterias são sempre a escolha de quem busca um agradável café da manhã, lanche da tarde ou até mesmo um ambiente agradável para ler um livro.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Restaurantes</h4>
        <p class="text-muted">Sempre existe um restaurante que conta uma história através de diferentes temperos e sabores, sejam eles brasileiros ou de outros países.</p>
      </div>
    </div>
</section>
<!-- Contato-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contato</h2>
      <h3 class="section-subheading text-muted">Apreciamos muito o seu feedback!</h3>
    </div>
    <form id="contactForm" name="sentMessage" novalidate="novalidate">
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" id="name" type="text" placeholder="Seu Nome *" required="required"
              data-validation-required-message="Please enter your name." />
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <input class="form-control" id="email" type="email" placeholder="Seu E-mail *" required="required"
              data-validation-required-message="Please enter your email address." />
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group mb-md-0">
            <input class="form-control" id="phone" type="tel" placeholder="Seu Telefone *" required="required"
              data-validation-required-message="Please enter your phone number." />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-textarea mb-md-0">
            <textarea class="form-control" id="message" placeholder="Sua Menssagem *" required="required"
              data-validation-required-message="Please enter a message."></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div id="success"></div>
        <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}