/* .container feed {
    padding-top: 120px;
} */

body h6 {
    color: #fed136;
}

.badge-outline-dark {
    color: #212529;
}

.d-flex {
    color: #212529;
}

.mb-3 {
    font-weight: bold;
}

.mdi-circle {
    color: rgba(22, 247, 22, 0.829);
}

.profile-navbar .nav-item .nav-link {
    color: #212529;

}

.profile-navbar .nav-item .nav-link.active {
    color: #fed136;
}

.profile-navbar .nav-item .nav-link i {
    font-size: 1.25rem;
}

.profile-feed-item {
    padding: 1.5rem 0;
    border-bottom: 1px solid #e9e9e9;
    /* miolo do feed */
}

.img-sm {
    width: 43px;
    height: 43px;
}

.img-md {
    width: 125px;
    height: 140px;
    position: relative;
}

.ml-4 {
    font-size: 12px;
}

/* .rounded mw-100 {
    size: 10px;
} */