{% extends "index_base_dashboard.html" %} {% block body %}
{% load static %}

<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<link rel="stylesheet" href="{% static 'style/dashboard_index.css' %}">

<a href="{% url 'register_post' %}">Fazer novo post</a>

<!-- lista de feed -->
<div class="profile-feed">
    {% for post in posts %}
        <!-- Início do card feed -->
    <div class="d-flex align-items-start profile-feed-item">
        <img src="{% static 'images/avatar2.jpg' %}" alt="profile" class="img-sm rounded-circle">
        <div class="ml-4">
            <h6>
                {{post.user.username}}
                <small class="ml-3 text-muted"><i class="mdi mdi-clock mr-1"></i>{{post.data}}</small>
            </h6>
            <p>
                {{post.comentario}}
            </p>
            <img src="{{post.imagem.url}}" alt="sample" class="rounded mw-100">
            <p class="small text-muted mt-2 mb-0">
                <span>
                    <i class="mdi mdi-star mr-1"></i>4
                </span>
                <span class="ml-2">
                    <i class="mdi mdi-comment mr-1"></i>11
                </span>
                <span class="ml-2">
                    <i class="mdi mdi-reply"></i>
                </span>
            </p>
        </div>
    </div>
    <!-- Fim do card feed -->
    {% endfor %}
   
</div>
<!-- fim da lista de feed -->
{% endblock %}