{% extends "index_base_dashboard.html" %} {% block body %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<link rel="stylesheet" href="{% static 'style/dashboard_index.css' %}">

<!-- form post feed -->

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Postar</button>
</form>

<!-- lista de feed -->
<div class="profile-feed">
    <div class="d-flex align-items-start profile-feed-item">
        <img src="{% static 'images/avatar2.jpg' %}" alt="profile" class="img-sm rounded-circle">
        <div class="ml-4">
            <h6>
                Sofia Oliveira
                <small class="ml-3 text-muted"><i class="mdi mdi-clock mr-1"></i>15
                    minutos atrás</small>
            </h6>
            <p>
                There is no better advertisement campaign that is low cost and also
                successful at the same time.
            </p>
            <p class="small text-muted mt-2 mb-0">
                <span>
                    <i class="mdi mdi-star mr-1"></i>4
                </span>
                <span class="ml-2">
                    <i class="mdi mdi-comment mr-1"></i>11
                </span>
                <span class="ml-2">
                    <i class="mdi mdi-reply"></i>
                </span>
            </p>
        </div>
    </div>
    <div class="d-flex align-items-start profile-feed-item">
        <img src="{% static 'images/avatar3.jpg' %}" alt="profile" class="img-sm rounded-circle">
        <div class="ml-4">
            <h6>
                Ricardo Arantes
                <small class="ml-4 text-muted"><i class="mdi mdi-clock mr-1"></i>2
                    horas atrás</small>
            </h6>
            <img src="{% static 'images/postavatar3.jpg' %}" alt="sample" class="rounded mw-100">
            <p class="small text-muted mt-2 mb-0">
                <span>
                    <i class="mdi mdi-star mr-1"></i>4
                </span>
                <span class="ml-2">
                    <i class="mdi mdi-comment mr-1"></i>11
                </span>
                <span class="ml-2">
                    <i class="mdi mdi-reply"></i>
                </span>
            </p>
        </div>
    </div>
    <div class="d-flex align-items-start profile-feed-item">
        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="profile" class="img-sm rounded-circle">
        <div class="ml-4">
            <h6>
                Miguel Silva
                <small class="ml-4 text-muted"><i class="mdi mdi-clock mr-1"></i>10
                    horas atrás</small>
            </h6>
            <p>
                When I first got into the online advertising business, I was looking for the
                magical combination
                that would put my website into the top search engine rankings
            </p>
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="sample" class="rounded mw-100">
            <p class="small text-muted mt-2 mb-0">
                <span>
                    <i class="mdi mdi-star mr-1"></i>4
                </span>
                <span class="ml-2">
                    <i class="mdi mdi-comment mr-1"></i>11
                </span>
                <span class="ml-2">
                    <i class="mdi mdi-reply"></i>
                </span>
            </p>
        </div>
    </div>
</div>
<!-- fim da lista de feed -->


{% endblock %}